<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OsAnime Unofficial Radio</title>
    <meta property="og:site_name" content="OsAnime Unofficial Radio">
    <meta property="og:type" content="article">
    <meta property="og:title" content="OsAnime Unofficial Radio">
    <meta property="og:url" content="https://radio.animeyubi.com">
    <meta name="description" content="test Radio App using express js">
    <meta property="og:image"
        content="https://dl3.wapkizfile.info/ddl/b1467d0a5330091b554e2d892f7e8308/osanime+wapkiz+com/002-(osanime.wapkiz.com).gif">
    <meta property="og:image:secure_url" content="https://radio.animeyubi.com">
    <meta property="og:image:width" content="373">
    <meta property="og:image:height" content="222">
    <link rel="shortcut icon"
        href="https://dl3.wapkizfile.info/ddl/b1467d0a5330091b554e2d892f7e8308/osanime+wapkiz+com/002-(osanime.wapkiz.com).gif">
    <link rel="icon"
        href="https://dl3.wapkizfile.info/ddl/b1467d0a5330091b554e2d892f7e8308/osanime+wapkiz+com/002-(osanime.wapkiz.com).gif">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://dl3.wapkizfile.info/ddl/b1467d0a5330091b554e2d892f7e8308/osanime+wapkiz+com/002-(osanime.wapkiz.com).gif">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css" />
</head>


<body>
    <div class="container">
        <div class="nav">
            <a id="nav-title" href="https://radio.animeyubi.com/">Osanime Radio</a>
        </div>
        <input id="priority-input" placeholder="ID" hidden />
        <button onclick="onAddToPriority()" hidden>Add to queue</button>
        
        <div class="player">
            <div id="player-header"></div>
            <br>
            <button class="player-button" id="play-pause">
                <div class="svg-container">
                    <img id="play-pause-svg" class="svg" src="/svg/play.svg" />
                </div>
            </button>
            <button class="player-button" id="volume-down">
                <div class="svg-container">
                    <img id="vol-down-svg" class="svg" src="/svg/volume-down.svg" />
                </div>
            </button>
            <button class="player-button" id="volume-up">
                <div class="svg-container">
                    <img id="vol-up-svg" class="svg" src="/svg/volume-up.svg" />
                </div>
            </button>
            <a href="#search-input">
                <button class="player-button">
                    <div class="svg-container">
                        <img class="svg" src="/svg/search.svg" />
                    </div>
                </button>
            </a>
            <audio id="audio" controls src="/stream" preload="none" hidden></audio>
        </div>

        <div class="list" id="musics"></div>
        
        <div>
            <hr>
            <h5>Browse</h5>
            <input id="search-input" type="text" placeholder="search title/file" value="">
            <div class="list" id="search-container"></div>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>

</html>