 body {
    background-color: rgb(91, 91, 91);
    background-image: url("/img/yui.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0px;
    scroll-behavior: smooth !important;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    padding: 5% 0px 5% 0px;
    margin: 0px auto 2% auto;
}

#nav-title {
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

#nav-title:hover {
    font-weight: 100;
}

.container {
    margin: 0px 15%;
    padding: 1px 2%;
    height: max-content;
    min-height: 100vh;
    background-color: rgba(43, 43, 43, 0.9);
}

.player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 100%;
    gap: 12px 12px;
}

input {
    margin: 2% 0px;
    width: 100%;
    height: 30px;
    background-color: transparent;
    font-family: inherit;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    transition: 1s;
}

input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt rgb(196, 128, 252);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.534);
}

#player-header {
    width: 100%;
}

.player-button {
    background-color: rgb(243, 243, 243);
    border-style: none;
    border-radius: 5px;
}

.svg {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    color: green;
}

.svg-container {
    height: 25px;
    width: 25px;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
}

.player-button:hover {
    background-color: lightskyblue;
}

.player-button:active {
    background-color: rgb(56, 179, 255);
}

.music-item-button {
    border-style: none;
    font-family: inherit;
    color: black;
    background-color: white;
    border-radius: 2px;
    padding: 5px 5%;
}

.music-item-button:hover {
    background-color: lightblue;
}

.button-container {
    border-top: 2px solid;
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0px;
    gap: 10px;
    justify-content: center;
}

.list {
    margin: 2% 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    flex: auto;
}

.music-item {
    width: 250px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: white;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 3px 3px;
}

.music-button-container {
    width: 250px;
    display: flex;
    align-items: flex-end;
    gap: 3px 3px;
}

.music-button {
    border: none !important;
}


@media only screen and (max-width: 900px) {
    .container {
        margin: 0px;
    }

    .player {
        width: 100%;
    }
}